html,
body {
	margin: 80px;
	padding: 0;
	text-align: left;
	background-color: #36393f;
}
img.emoji {
	cursor: text;
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}
li {
	list-style: disc;
	font-family: "text", sans-serif;
}
#logo {
	transition: all 300ms;
}
h1,
h2,
h4 {
	font-family: "DcTitle", sans-serif;
	font-weight: 500;
	color: #7289da;
}
a {
	text-decoration: underline;
	color: #7b95f1;
	font-family: "text", sans-serif;
	font-weight: 600;
}
p {
	font-family: "text", sans-serif;
	color: #7289da;
	font-weight: 600;
}
.hrlol {
	margin: 0px;
	height: 2px;
	width: 175px;
	background: #42454a;
	border: 0;
	margin: 0;
}
#invite_hr {
	margin: 0;
	height: 2px;
	border: 0;
	background: #42454a;
}
.btn {
	background-color: #7289da;
	border-color: #7289da;
	border-style: hidden;
	height: 30px;
	width: 100px;
	transition: 100ms;
	border-radius: 3px;
	padding: 2px 16px;
	text-rendering: optimizeSpeed;
	font-family: "text", sans-serif;
	font-weight: 500;
	font-size: medium;
	color: #ffffff;
	text-decoration: none;
}
.btn:hover {
	background-color: #5c6fb1;
	border-style: hidden;
	transition: 200ms;
	cursor: pointer;
}
#cmds {
	font-family: "text", sans-serif;
	color: #7289da;
	font-weight: 600;
}
header {
	width: 100%;
	height: 69px;
	position: fixed;
	top: 0;
	left: 0;
	background: #292b2f;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	z-index: 1;
}
#logo {
	width: 50px;
	float: left;
	margin: 5px 0 0 25px;
}
#logo:hover {
	opacity: 0.5;
}
#logo img {
	margin-top: 2px;
	width: 100%;
}
header nav {
	float: right;
	margin: 10px 30px 0 0;
	margin-top: 15px;
}
header nav ul li:hover {
	opacity: 0.5;
}
header nav ul li {
	transition: all 300ms;
	float: left;
	margin-left: 16px;
}
header nav ul {
	margin-top: 10px;
}
header h1 {
	text-align: left;
	font-size: 25px;
	margin-left: 85px;
	margin-top: 18px;
}
#copyright {
	text-align: center;
}
#moyaiu_title {
	margin-top: 20px;
	font-size: 150px;
	text-align: center;
	margin: 0px;
	font-family: "DcTitle";
}
#moyaiu_subtitle {
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	font-family: "DcTitle";
}
.website_title {
	font-size: 25px;
}
#invitelink {
	text-align: center;
	margin-bottom: -25px;
	color: #7289da;
	font-family: DcTitle;
}
#invite_hr {
	margin: 0;
	height: 2px;
	border: 0;
	background: #42454a;
}
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}
@font-face {
	font-family: "DcTitle";
	src: url("/fonts/title.woff2") format("woff2"), url("/fonts/title.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "text";
	src: url("/fonts/text.woff2") format("woff2"), url("/fonts/text.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@media screen and (max-width: 1024px) {
	header {
		height: auto;
	}
	#logo {
		margin-top: 5px;
		width: 70px;
	}
	header h1 {
		margin-top: 20px;
	}
	header nav {
		margin-top: 30px;
		font-size: 25px;
	}
	header nav ul li {
		font-size: 20px;
		margin-left: 20px;
	}
	#home h1 {
		font-size: 160px;
	}
	#home h2 {
		font-size: 150;
	}
	h3 {
		padding-top: 3px;
	}
	header a {
		font-size: 30px;
	}
	header h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 480px) {
	header {
		height: auto;
	}
	#logo {
		margin-top: 10px;
		width: 90px;
	}
	header nav {
		margin-top: 30px;
		font-size: 60px;
		float: none;
		margin: 0;
	}
	header nav ul li {
		font-size: 0px;
		margin-left: 20px;
	}
	p {
		font-size: small;
	}
}

/**Scrollbar*/

/* width */
::-webkit-scrollbar {
	width: 9px;
	max-height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2e3338;
	border-radius: 10px;
	margin-right: 69px;
	border: solid 3px #2e3338;
	max-height: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 9999px;
	max-height: 20px;
}
/**selection*/
::selection {
	background-color: #ffffff;
}
