:root {
	--blurple: #7289da;
	--green: #43b581;
	--gray: #4f545c;
}
/* Main */
html,
body {
	padding: 80px 80px 0px 80px;
	text-align: left;
	background-color: #36393f;
	scroll-behavior: smooth;
	image-rendering: optimizeQuality;
	shape-rendering: geometricPrecision;
	margin-bottom: 0px;
}

li {
	list-style: disc;
	font-family: "text", sans-serif;
}
#logo {
	transition: 0.2s;
}
h1,
h2,
h4,
h5,
h6 {
	font-family: "Uni Sans Heavy", sans-serif;
	font-weight: 500;
	color: #7289da;
	text-rendering: optimizeSpeed;
}
a {
	color: #7b95f1;
	font-family: "text2", sans-serif;
	font-weight: 500;
	text-decoration: none;
}
p,
li {
	font-family: "text2", sans-serif;
	font-size: large;
	color: #dcddde;
	text-decoration: none;
	word-break: break-word;
}
.hrlol {
	margin: 0px;
	height: 2px;
	width: 175px;
	background: #42454a;
	border: 0;
	margin: 0;
}
#invite_hr {
	margin: 0;
	height: 2px;
	border: 0;
	background: #42454a;
}
#cmds {
	font-family: "text2", sans-serif;
	color: #7289da;
	font-weight: 500;
}
/* Buttons*/
.btn {
	background-color: var(--blurple);
	border-style: hidden;
	height: 30px;
	width: 100px;
	transition: 0.2s;
	border-radius: 4px;
	padding: 2px 16px;
	font-family: "text3", sans-serif;
	font-weight: 500;
	font-size: larger;
	color: #ffffff;
	text-decoration: none;
	display: grid;
	text-align: center;
	font-size: larger;
	opacity: 1;
}
.btn:hover {
	border-style: hidden;
	transition: 0.2s;
	cursor: pointer;
	background-color: #5c6fb1;
}
#greenbtn {
	background-color: var(--green);
}
#greenbtn:hover {
	background-color: #3ca374;
}
#graybtn {
	background-color: var(--gray);
}
#graybtn:hover {
	opacity: 1;
	background-color: #5d6269;
}

/* Header */
header {
	width: 100%;
	height: 69px;
	position: fixed;
	top: 0;
	left: 0;
	background: #292b2f;
	z-index: 1;
}
#logo {
	width: 50px;
	float: left;
	margin: 5px 0 0 25px;
}
#logo:hover {
	opacity: 0.5;
}
#logo img {
	margin-top: 2px;
	width: 100%;
}
header nav {
	float: right;
	margin: 10px 30px 0 0;
	margin-top: 15px;
}
header nav ul li:hover {
	opacity: 0.8;
}
header nav ul li {
	transition: 0.2s;
	float: left;
	margin-left: 16px;
}
header nav ul {
	margin-top: 10px;
}
header h1 {
	text-align: left;
	font-size: 25px;
	margin-left: 85px;
	margin-top: 18px;
}
/* Main*/
#copyright {
	text-align: center;
}
.moyaiu_title {
	margin-top: 20px;
	font-size: 150px;
	text-align: center;
	margin: 0px;
	font-family: "Uni Sans Heavy";
}

#moyaiu_subtitle {
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	font-family: "Uni Sans Heavy";
}
.website_title {
	font-size: 25px;
}
#invitelink {
	text-align: center;
	margin-bottom: -25px;
	color: var(--blurple);
	font-family: "Uni Sans Heavy";
}
.hrlol {
	margin: 0px;
	height: 2px;
	width: 175px;
	background: #42454a;
	border: 0;
	margin: 0;
}
#invite_hr {
	margin: 0;
	height: 2px;
	border: 0;
	background: #42454a;
}

/* Emotes */
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
	cursor: text;
}
/* Fonts*/
@font-face {
	font-family: "Uni Sans Heavy";
	src: url("/fonts/title.woff2") format("woff2"), url("/fonts/title.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "text";
	src: url("./fonts/text.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "text2";
	src: url("./fonts/text2.woff") format("woff");
	font-style: normal;
	font-weight: bolder;
}
@font-face {
	font-family: "text3";
	src: url("./fonts/text3.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "text4";
	src: url("./fonts/text4.woff") format("woff");
	font-weight: bolder;
	font-style: normal;
}
/* Responsive*/
@media screen and (max-width: 1024px) {
	#moyaiu_subtitle {
		font-size: 30px;
		margin-top: 0px;
		text-align: center;
		font-family: "Uni Sans Heavy";
	}
	.moyaiu_title {
		font-size: 100px !important;
		text-align: center;
		font-family: "Uni Sans Heavy";
		margin-top: 150px;
	}

	header {
		width: 100% !important;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		background: #292b2f;

		font-size: 10px;
	}
	#logo {
		margin-top: 5px;
		width: 50px;
	}
	#greenbtn {
		margin-left: 10%;
		background-color: var(--green);
	}
	header nav {
		float: right;
		position: absolute;
		margin: 13px;
		margin-top: 1px;
		margin-left: 50%;
		font-size: 5px !important ;
	}
	header nav ul li:hover {
		opacity: 0.5;
	}
	header nav ul li {
		transition: 0.2s;
		float: right;
		margin-left: 16px;
		font-size: 1px;
	}
	header nav ul {
		margin-top: 5px;
	}
	header nav ul a {
		font-size: 2000%;
	}

	#main-nav {
		font-size: 10px;
		text-decoration: none;
	}
	#home h1 {
		font-size: 160px;
	}
	#home h2 {
		font-size: 150;
	}
	h3 {
		padding-top: 3px;
	}

	header a {
		font-size: 30px;
	}
	header h1 {
		font-size: 30px;
	}
	h1 {
		font-size: smaller;
	}
	p {
		font-size: 20px;
	}
	html,
	body {
		margin: 3px;
		padding: 0;
		text-align: center;
		background-color: #36393f;
		text-rendering: optimizeSpeed;
	}
	.btn {
		background-color: var(--blurple);
		border-style: hidden;
		height: 30px;
		width: 100px;
		transition: 0.2s;
		border-radius: 4px;
		padding: 2px 16px;
		font-family: "text3", sans-serif;
		font-weight: 500;
		font-size: larger;
		color: #ffffff;
		text-decoration: none;
		display: block;
		text-align: center;
		font-size: larger;
		opacity: 1;
	}
	a {
		font-size: 20px;
	}
}

/**Scrollbar*/

/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2e3338;
	border-radius: 10px;
	margin-right: 69px;
	border: solid 3px #2e3338;
	padding-right: 17px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 9999px;
	max-height: 20px;
	padding-right: 17px;
}
/**selection*/
::selection {
	background-color: #ffffff;
}
